<div class="text-shadow-example compass-example">
  <div>this text has no shadow</div>
  <div class='has-single-shadow'>this text has a shadow</div>
  <div class='has-custom-shadow'>this text has a custom shadow</div>
</div>

<div class="rounded-border-example compass-example">
  <div class='border-radius-example' id='border-radius'>
    <p>
      Box with all corners rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-top-left'>
    <p>
      Box with only top left corner rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-top-right'>
    <p>
      Box with only top right corner rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-bottom-left'>
    <p>
      Box with only bottom left corner rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-bottom-right'>
    <p>
      Box with only bottom right corner rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-top'>
    <p>
      Box with top corners rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-bottom'>
    <p>
      Box with bottom corners rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-left'>
    <p>
      Box with left corners rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-right'>
    <p>
      Box with right corners rounded
    </p>
  </div>
  <div class='border-radius-example' id='border-radius-combo'>
    <p>
      Box with different roundings for top/bottom and left/right
    </p>
  </div>
</div>

<div class="box-shadow-example compass-example">
  <div class='box-shadow-example'>
    <div id='box-shadow-default'></div>
    <div id='box-shadow-custom'></div>
    <div id='box-shadow-custom-multiple'></div>
  </div>
</div>

<div class="box-sizing-compass-example compass-example">
  <div class='box-sizing-example' id='content-box'>
  </div>
  <div class='box-sizing-example' id='border-box'>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="compass-example color-examples">
  <h1 class="dark">Foo</h1>
  <h1 class="light">Foo</h1>
  <h1 class="lighter">Foo</h1>
</div>